.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.pomodoro {
  width: 400px;
  height: 600px;
  border: 1px solid darkgray;
  /* border-radius: 10px; */
  position: relative;
}

.progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  /* height: 25%; */
  min-height: 0%;
  max-height: 100%;
  background-color: red;
  opacity: .5;
  z-index: 1;
}

.boxTime {
  display: flex;
  flex-direction: row;
  width: auto;
  /* height: 100px; */
}

.boxTime:nth-child(1),
.boxTime:nth-child(3),
.boxTime:nth-child(5),
.boxTime:nth-child(7) {
  background-color: rgb(19, 0, 128);
  height: 3.85%;
}
.boxTime:nth-child(1) {
  height: 11.54%;
}
.boxTime:nth-child(1) .boxTimeDescription,
.boxTime:nth-child(3) .boxTimeDescription,
.boxTime:nth-child(5) .boxTimeDescription,
.boxTime:nth-child(7) .boxTimeDescription {
  background-color: #d5d5d5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxTime:nth-child(2),
.boxTime:nth-child(4),
.boxTime:nth-child(6),
.boxTime:nth-child(8) {
  background-color: #4500ff;
  height: 19.23%;
}

.boxTimeFocus {
  width: 20px;
  height: 100%;
}

.boxTimeDescription {
    flex: 1;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
}

.buttonMenu {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: darkgray;
  margin: 2px;
  color: white;
  cursor: pointer;
}